<template>
  <form @submit="onSubmit" class="add-form">
    <div class="form-control">
      <label>Task</label>
      <input
        type="description"
        name="task-name"
        v-model="description.value"
        placeholder="Add New Task"
        :class="`${description.error ? 'error' : ''}`"
        v-on:input="description.error = false"
      />
      <small v-if="description.error" class="helper-text"
        >Task name is required</small
      >
      <label>Day & Time</label>
      <input
        type="date"
        name="day"
        v-model="day"
        placeholder="Select Day & Time"
      />
      <label>Due Date</label>
      <input
        type="date"
        name="due"
        v-bind:min="day"
        v-model="due"
        placeholder="Select Due Date"
      />
    </div>
    <div class="form-control form-control-check">
      <label>Set Reminder</label>
      <input type="checkbox" v-model="reminder" name="reminder" />
    </div>
    <input type="submit" value="Save Task" class="btn btn-block" />
  </form>
</template>

<script>
export default {
  name: "AddTask",
  data() {
    return {
      description: {
        type: String,
        value: "",
        error: false,
      },
      day: new Date().toISOString().substring(0, 10),
      due: new Date(new Date().setMonth(new Date().getMonth() + 1))
        .toISOString()
        .substring(0, 10),
      reminder: false,
    };
  },
  methods: {
    onSubmit(e) {
      e.preventDefault();

      if (!this.description.value || this.description.value === "") {
        this.description = { ...this.description, error: true };
        // alert("Task name is required");
        return;
      }

      const newTask = {
        id: Math.floor(Math.random() * 100),
        description: this.description.value,
        day: this.day,
        due: this.due,
        reminder: this.reminder,
      };

      this.description = {
        ...this.description,
        value: "",
        error: false,
      };
      this.day = new Date().toISOString().substring(0, 10);
      this.due = new Date(new Date().setMonth(new Date().getMonth() + 1))
        .toISOString()
        .substring(0, 10);
      this.reminder = false;

      this.$emit("add-task", newTask);
    },
  },
};
</script>

<style scoped lang="scss">
.add-form {
  margin-bottom: 40px;
}
.form-control {
  margin: 20px 0;
  label {
    display: block;
  }
  input {
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    padding: 8px;
    font-size: 17px;
    &.error {
      margin: 5px 0 0 0;
      border: solid 2px red;
    }
  }
}
.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  label {
    flex: 1;
  }
  // for checkbox only
  input {
    flex: 0;
    height: 20px;
    min-width: 20px;
    margin: 0;
  }
}
.helper-text {
  color: red;
}
</style>
