<template>
  <header>
    <h1>{{ title }}</h1>
    <Button
      @btn-click="this.$emit('toggle-form')"
      :text="form === true ? 'Close' : 'Add Task'"
      :color="form === true ? 'red' : 'cornflowerblue'"
    />
  </header>
</template>
<!-- this.$emit('show-form', !toggle) -->
<script>
import Button from "./Button.vue";

export default {
  name: "Header",
  props: {
    title: {
      default: "Task Tracker",
      type: String,
    },
    form: {
      default: false,
      type: Boolean,
    },
  },
  components: {
    Button,
  },
};
</script>

<style scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
</style>
