<template>
  <div
    @dblclick="$emit('read-task', task.id)"
    :class="`${!task.read ? 'read' : ''}  task`"
  >
    <h3 :class="`${task.reminder ? 'reminder' : ''}`">
      {{ task.description }}
      <i @click="$emit('delete-task', task.id)" class="fas fa-times"></i>
    </h3>
    <p>{{ task.day }}</p>
  </div>
</template>

<script>
export default {
  name: "Task",
  props: {
    task: Object,
  },
  emits: ["delete-task", "read-task"],
};
</script>

<style scoped lang="scss">
.fas {
  color: red;
}
.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  .reminder {
    color: cornflowerblue;
  }
  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.read {
    border-left: 5px solid lightgreen;
  }
}
</style>
