<template>
  <div class="container">
    <Header :title="'Hello, Izzul'" @toggle-form="toggleForm" :form="form" />
    <AddTask v-if="form === true" @add-task="addTask" />
    <Tasks @read-task="readTask" @delete-task="deleteTask" :tasks="tasks" />
  </div>
</template>

<script>
import Header from "./components/Header";
import Tasks from "./components/Tasks";
import AddTask from "./components/AddTask";
export default {
  name: "App",
  components: {
    Header,
    Tasks,
    AddTask,
  },
  data() {
    return {
      tasks: [],
      form: false,
    };
  },
  methods: {
    toggleForm() {
      this.form = !this.form;
    },
    deleteTask(id) {
      if (confirm("Are you sure?")) {
        this.tasks = this.tasks.filter((task) => task.id !== id);
      }
    },
    readTask(id) {
      let index = this.tasks.findIndex((task) => task.id === id);
      this.tasks[index].read = true;
      this.tasks[index].reminder = false;
    },
    addTask(task) {
      this.tasks.unshift({
        ...task,
        day: new Date(task.day).toDateString(),
        due: new Date(task.due).toDateString(),
        read: false,
        overdue: false,
      });
    },
  },
  created() {
    this.tasks = [
      {
        id: 1,
        description: "Vue JS Crash Course",
        day: "Monday Sep 26 2022",
        due: "Wednesday Oct 26 2022",
        read: false,
        reminder: true,
        overdue: false,
      },
      {
        id: 2,
        description: "Vue JS State Management",
        day: "Friday Sep 30 2022",
        due: "Sunday Oct 30 2022",
        read: false,
        reminder: true,
        overdue: false,
      },
      {
        id: 3,
        description: "Initiate GitTogether Project",
        day: "Saturday Oct 15 2022",
        due: "Tuesday Nov 15 2022",
        read: false,
        reminder: true,
        overdue: false,
      },
    ];
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
.btn-block {
  display: block;
  width: 100%;
}
</style>
